// declaring 2 color variables
$my_color1: #3d3d3d;
$my_color2: #6d6d6d;

body {
  color: $my_color1;
  background-color: $my_color2;
}

p {
  color: $my_color1;
}

h2 {
  background-color: $my_color2;
}
